@* Generator: MvcView GeneratePrettyNames: true *@
@using Advertise.Service.Services.Permissions
@model Advertise.Core.Models.Plan.PlanListViewModel
@{
    Layout = MVC.Shared.Views._ProfileLayout;
    ViewBag.Title = Model.IsMine ? "لیست طرح های خریداری شده من" : "لیست طرح های خریداری شده";
    ViewBag.PageName = "plan";
    ViewBag.HasSearchbar = true;
}
<div class="@if (Model.IsMine != true) {<text>dashboard-content</text>} else {<text>profile-content</text>}">
    <div id="search" class="list-searchbar">
        @SearchItem.Term(Model.SearchRequest.Term)
        @SearchItem.SortDirection(Model.SortDirectionList, Model.SearchRequest.SortDirection)
        @SearchItem.PageSize(Model.PageSizeList, Model.SearchRequest.PageSize)
        @SearchItem.GridView()
    </div>

    <div class="headline buttons primary">
        <h1>@if (Model.IsMine != true){<text>لیست طرح های خریداری شده</text>}else{<text>لیست طرح های خریداری شده</text>}</h1>
    </div>

    <div class="landing-grids-wrapper">
        <div class="product-list grid">
            <div class="landing-column-wrapper">
                @if (User.IsInRole(PermissionConst.CanPlanCreate))
                {
                    @Html.Partial(MVC.Plan.Views._AddItem)
                }
                @Html.Partial(MVC.Plan.Views._ListMore, Model.Plans)
            </div>
        </div>
    </div>

    <div class="pager">
        @Html.Partial(MVC.Shared.Views._Paging, Model.SearchRequest)
    </div>
</div>