@* Generator: MvcView GeneratePrettyNames: true *@
@model Advertise.Core.Models.User.UserChangePasswordViewModel
@{
    Layout = MVC.Shared.Views._ProfileLayout;
    ViewBag.Title = Admin.ChangePassWord;
}
<div class="dashboard-content">
    <div class="headline buttons primary">
        <h4>@Admin.ChangePassWord</h4>
    </div>
    <div class="form-box-item profile-form">
        <form id="editUser" action="@Url.Action(MVC.Account.ChangePassword())" method="Post" data-on-load="validateChangePassWord">
            @Html.AntiForgeryToken()

            <div class="input-form">
                <div class="vertical-dashed"></div>
                
                <div class="msg-container">
                    <p class="msg-box regular round-corners-five"></p>
                </div>
                <div class="input-container fixed-height">
                    <label for="OldPassword" class="rl-label">@Admin.PreviousPassword</label>
                    <input type="password" id="OldPassword" name="OldPassword" value="" class="form-control tooltipster" title="@Admin.ItShowsPasswordPrevious" placeholder="@Admin.PreviousPassword"/>
                </div>
                
                <div class="msg-container">
                    <p class="msg-box regular round-corners-five"></p>
                </div>
                <div class="input-container fixed-height">
                    <label for="NewPassword" class="rl-label">@Admin.NewPassword</label>
                    <input type="password" id="NewPassword" name="NewPassword" value="" class="form-control tooltipster" title="@Admin.ItShowsPasswordNew" placeholder="@Admin.NewPassword"/>
                </div>
                
                <div class="msg-container">
                    <p class="msg-box regular round-corners-five"></p>
                </div>
                <div class="input-container fixed-height">
                    <label for="ConfirmPassword" class="rl-label">@Admin.NewPasswordRepeat</label>
                    <input type="password" id="ConfirmPassword" name="ConfirmPassword" value="" class="form-control tooltipster" title="@Admin.ItShowsPasswordRepeat" placeholder="@Admin.NewPasswordRepeat"/>
                </div>

                <div class="input-container"></div>
            </div>
        </form>
        
        <div class="form-button-container">
            <button form="editUser" type="submit" class="form-button right-form-btn ok-button round-corners-five disabled-btn-link" disabled="disabled" >
                <i class="fa fa-save"></i>
                <span>@Admin.Save</span>
            </button>
        </div>
    </div>
</div>