@* Generator: MvcView GeneratePrettyNames: true *@
@model Advertise.Core.Models.Newsletter.NewsletterCreateViewModel
@{
    Layout = MVC.Shared.Views.SiteLayout.Panel._PanelLayout;
    ViewBag.Title = Admin.Create;
}
<div class="dashboard-content">
    <div class="headline buttons primary">
        <h4>@Admin.CreateNews</h4>
    </div>
    <div class="form-box-item profile-form">
        <form id="newNews" action="@Url.Action(MVC.Newsletter.Create())" method="Post" data-on-load="validateNewsletter">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <div class="input-form">
                <div class="vertical-dashed"></div>
                
                <div class="msg-container">
                    <p class="msg-box regular round-corners-five"></p>
                </div>
                <div class="input-container fixed-height">
                    <label for="Email" class="rl-label">@Admin.Title</label>
                    <input type="text" id="Email" name="Email" class="form-control tooltipster" placeholder="@Admin.ExampleEmail" title="@Admin.ItShowsEmail"/>
                </div>
                
                <div class="msg-container">
                    <p class="msg-box regular round-corners-five"></p>
                </div>
                <div class="input-container fixed-height">
                    <label for="Meet" class="rl-label">@Admin.HowToRegister</label>
                    <select id="Meet" name="Meet" data-on-change="navigate">
                        <option disabled="disabled">@Admin.HowToRegister</option>
                        @foreach (var meet in Model.MeetList)
                        {
                            <option value="@meet.Value" @if (Model.Meet.ToString() == meet.Value){<text> selected</text>}>@meet.Text</option>
                        }
                    </select>
                </div>

                <div class="input-container"></div>
            </div>
        </form>
        
        <div class="form-button-container">
            <button form="newNews" type="submit" class="form-button right-form-btn ok-button round-corners-five disabled-btn-link" disabled="disabled" >
                <i class="fa fa-save"></i>
                <span>@Admin.Save</span>
            </button>
        </div>
    </div>
</div>
