@* Generator: MvcView GeneratePrettyNames: true *@
@using Advertise.Core.Extensions
@using Advertise.Service.Managers.File
@model Advertise.Core.Models.Category.CategoryDetailViewModel
@{
    Layout = MVC.Shared.Views._PublicLayout;
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Keywords = Model.MetaKeywords != null ? $"{Model.MetaKeywords},{Model.CategoryOption.Products},{Model.CategoryOption.Companies}" : $"{Model.Title},{Model.MetaTitle},{Model.CategoryOption.Products},{Model.CategoryOption.Companies},{Admin.Novinak}";
    ViewBag.Description = Model.MetaDescription ?? $"{Admin.Novinak} {Admin.OnlineShopping} {Model.MetaTitle} {Model.Title} {Model.Description}";
}
@section og {
    <meta property="og:image" content="@if (Model.ImageFileName != null) {<text>@FileConst.ImagesWebPath.PlusWord(Model.ImageFileName)</text>} else {<text>@FileConst.Banner</text>}">
}
@section sitemap {
    <div class="site-map">
        <div id="SiteMap">
            @Html.Action(MVC.Category.BreadCrumb(Model.Id, null, true))
        </div>
    </div>
}
<div class="landing-wrapper">
    <div class="product-showcase slide-case">
        <div class="landing-items-wrapper landing-items-disp">
            <div class="top-slider category-slider owl-carousel round-corners-five" data-on-load="carouselLandingSlider">
                <a>
                    <img src="@FileConst.SlideDefaultBanner" alt="@Admin.Banner">
                </a>
            </div>
            <div class="slider-tabs-title">
                <h5 data-tab="1">@Model.Title</h5>
            </div>
            <div data-on-load="sliderTabs" data-tabs="1"></div>
        </div>
    </div>
    <div class="category-side-wrapper">
        <ul class="side-categories">
            <li class="side-category-title">
                <a href="">
                    <h1 class="category-detail-title">@Model.MetaTitle</h1>
                </a>
            </li>
            @foreach (var subCategory in Model.Categories)
            {
                <li class="side-category">
                    <a href="@Url.Action(MVC.Category.Detail(subCategory.Alias)).AddSlug(subCategory.MetaTitle)">@subCategory.MetaTitle</a>
                </li>
            }
        </ul>
        <div class="side-search-share">
            <ul class="side-searches">
                <li class="side-products-search">
                    <a href="#">
                        <i class="fa fa-search"></i>
                        <p>@L(Model.CategoryOption.Products)</p>
                    </a>
                </li>
                <li class="side-companies-search">
                    <a href="#">
                        <i class="fa fa-search"></i>
                        <p>@L(Model.CategoryOption.Companies)</p>
                    </a>
                </li>
            </ul>
            <div class="side-sharing">
                <h5><i class="fa fa-share-alt-square"></i> @Admin.Share.PlusWord(":")</h5>
                <hr>
                <ul class="side-share-icons">
                    <li class="side-share-icon-wrapper">
                        <a href="@Url.Action(MVC.Category.Detail(Model.Alias)).AddSlug(Model.MetaTitle).PlusWord("&text=").PlusWord(Model.Title).BeforeWord("https://telegram.me/share/url?url=https://novinak.com")" class="side-share-icon share-telegram">
                            <i class="fa fa-send"></i>
                        </a>
                    </li>
                    <li class="side-share-icon-wrapper">
                        <a href="@Url.Action(MVC.Category.Detail(Model.Alias)).AddSlug(Model.MetaTitle).BeforeWord("https://plus.google.com/share?url=https://novinak.com")" class="side-share-icon share-gplus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li class="side-share-icon-wrapper">
                        <a href="@Url.Action(MVC.Category.Detail(Model.Alias)).AddSlug(Model.MetaTitle).BeforeWord("https://www.facebook.com/sharer/sharer.php?u=https://novinak.com")" class="side-share-icon share-fb">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="side-share-icon-wrapper">
                        <a href="@Url.Action(MVC.Category.Detail(Model.Alias)).AddSlug(Model.MetaTitle).BeforeWord("https://twitter.com/home?status=https://novinak.com")" class="side-share-icon share-twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="side-statistics-wrapper">
            <div class="side-statistics">
                <h5>
                    <i class="fa fa-line-chart"></i>
                    <span>@Admin.Statistics.PlusWord(":")</span>
                </h5>
                <hr>
                <ul class="side-statistic">
                    <li>
                        <div class="side-statistic-title">
                            <h6>
                                <i class="fa fa-eye"></i>
                                <span>@Admin.Visitors.PlusWord(":")</span>
                            </h6>
                        </div>
                        <div class="side-statistic-value">
                            <h6>@Model.VisitCount</h6>
                            <hr>
                        </div>
                    </li>
                    <li>
                        <div class="side-statistic-title">
                            <h6>
                                <i class="fa fa-space-shuttle fa-flip-horizontal"></i>
                                <span>@Admin.Followers.PlusWord(":")</span>
                            </h6>
                        </div>
                        <div class="side-statistic-value">
                            <h6 id="FollowerCount">@Model.FollowerCount</h6>
                            <hr>
                        </div>
                    </li>
                    <li>
                        <div class="side-statistic-title">
                            <h6>
                                <i class="fa fa-cubes"></i>
                                <span>@L(Model.CategoryOption.Products)</span>
                            </h6>
                        </div>
                        <div class="side-statistic-value">
                            <h6>@Model.ProductCount</h6>
                            <hr>
                        </div>
                    </li>
                    <li>
                        <div class="side-statistic-title">
                            <h6>
                                <i class="fa fa-bank"></i>
                                <span>@L(Model.CategoryOption.Companies)</span>
                            </h6>
                        </div>
                        <div class="side-statistic-value">
                            <h6>@Model.CompanyCount</h6>
                        </div>
                    </li>
                </ul>
                <div class="follow-button-wrapper">
                    <input id="categoryId" type="hidden" value="@Model.Id"/>
                    <a @if (User.Identity.IsAuthenticated != true)
                       {
                           <text> href="@Url.Action(MVC.Account.EmailRegister())" </text>
                       }
                       else
                       {
                           <text> href="javascript:void(0)" data-on-click="ajaxtoggleFollowCategory" data-follow="@Admin.Follow" data-unfollow="@Admin.Unfollow" </text>
                       } class="follow-button @if (Model.InitFollow)
                                              {<text>followed-btn</text>}
                                              else
                                              {<text>unfollowed-btn</text>}">
                        <span>@if (Model.InitFollow)
                              {<text>@Admin.Unfollow</text>}
                              else
                              {<text>@Admin.Follow</text>}</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="side-ads owl-carousel" data-on-load="carouselSideAds">
            <a>
                <div class="side-ads-item">
                    <img src="~/Files/Assets/mosaic-categories/lg-mobiles-side-banner.jpg" alt="گوشی‌های موبایل LG" />
                    <div class="side-item-sub side-general-sub">
                        <p class="mosaic-paragraph">گوشی‌های موبایل LG</p>
                    </div>
                </div>
            </a>
            <a>
                <div class="side-ads-item">
                    <img src="~/Files/Assets/mosaic-categories/samsung-mobiles-side-banner.jpg" alt="گوشی‌های موبایل Samsung" />
                    <div class="side-item-sub side-general-sub">
                        <p class="mosaic-paragraph">گوشی‌های موبایل Samsung</p>
                    </div>
                </div>
            </a>
            <a>
                <div class="side-ads-item">
                    <img src="~/Files/Assets/mosaic-categories/iphone-mobiles-side-banner.jpg" alt="گوشی‌های موبایل iPhone" />
                    <div class="side-item-sub side-general-sub">
                        <p class="mosaic-paragraph">گوشی‌های موبایل iPhone</p>
                    </div>
                </div>
            </a>
            <a>
                <div class="side-ads-item">
                    <img src="~/Files/Assets/mosaic-categories/pixel-mobiles-side-banner.jpg" alt="گوشی‌های موبایل Pixel" />
                    <div class="side-item-sub side-general-sub">
                        <p class="mosaic-paragraph">گوشی‌های موبایل Pixel</p>
                    </div>
                </div>
            </a>
            <a>
                <div class="side-ads-item">
                    <img src="~/Files/Assets/mosaic-categories/huawei-mobiles-side-banner.jpg" alt="گوشی‌های موبایل Huawei" />
                    <div class="side-item-sub side-general-sub">
                        <p class="mosaic-paragraph">گوشی‌های موبایل Huawei</p>
                    </div>
                </div>
            </a>
            <a>
                <div class="side-ads-item">
                    <img src="~/Files/Assets/mosaic-categories/sony-mobiles-side-banner.jpg" alt="گوشی‌های موبایل Sony" />
                    <div class="side-item-sub side-general-sub">
                        <p class="mosaic-paragraph">گوشی‌های موبایل Sony</p>
                    </div>
                </div>
            </a>
            <a>
                <div class="side-ads-item">
                    <img src="~/Files/Assets/mosaic-categories/nokia-mobiles-side-banner.jpg" alt="گوشی‌های موبایل Nokia" />
                    <div class="side-item-sub side-general-sub">
                        <p class="mosaic-paragraph">گوشی‌های موبایل Nokia</p>
                    </div>
                </div>
            </a>
            <a>
                <div class="side-ads-item">
                    <img src="~/Files/Assets/mosaic-categories/asus-mobiles-side-banner.jpg" alt="گوشی‌های موبایل Asus" />
                    <div class="side-item-sub side-general-sub">
                        <p class="mosaic-paragraph">گوشی‌های موبایل Asus</p>
                    </div>
                </div>
            </a>
            <a>
                <div class="side-ads-item">
                    <img src="~/Files/Assets/mosaic-categories/htc-mobiles-side-banner.jpg" alt="گوشی‌های موبایل HTC" />
                    <div class="side-item-sub side-general-sub">
                        <p class="mosaic-paragraph">گوشی‌های موبایل HTC</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="category-main-wrapper"></div>
</div>
<div class="clearboth"></div>