@* Generator: MvcView GeneratePrettyNames: true *@
@model Advertise.Core.Models.ReceiptOption.ReceiptOptionViewModel
<div>
    @Model.Title
    @Model.Count
    @Model.Price
    @Model.TotalPrice
    @Model.CategoryTitle
    @Model.PreviousPrice
    @Model.CompanyTitle
</div>
