@* Generator: MvcView GeneratePrettyNames: true *@
@model Advertise.Core.Models.Account.ForgotPasswordViewModel
@{
    Layout = MVC.Shared.Views.SiteLayout.Public._PublicLayout;
    ViewBag.Title = Admin.PasswordForgotten;
}
<div class="register-wrapper">
    <div class="form-box-item form-popup register-structure">
        <form action="@Url.Action(MVC.Account.ConfirmationForgotPassword())" method="Post" data-on-load="validateForgotPassword" class="form-popup-content">
            <h4 class="popup-title register-header">
                <i class="fa fa-question-circle-o"></i>
                <span>@Admin.ForgetPassWord</span>
            </h4>
            <hr class="line-separator short register-hr">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <p class="spaced register-paragraph">
                <i class="fa fa-exclamation-circle"></i>
                <span>@Admin.MessageEnterEmailForgetPassword</span>
            </p>
            
            <div class="input-container">
                <i class="fa fa-envelope register-icon"></i>
                <label for="Email" class="rl-label register-label">@Admin.Email</label>
                <input type="text" id="Email" name="Email" class="register-input" placeholder="@Admin.ExampleEmail"/>
            </div>

            <div class="input-container">
                <button type="submit" class="button mid dark register-top-btn">
                    <span>@Admin.SendingPassword</span>
                </button>
            </div>
            
            <div class="input-container"></div>
        </form>
    </div>
</div>