@* Generator: MvcView GeneratePrettyNames: true *@
@model Advertise.Core.Models.Account.ResetPasswordViewModel
@{
    Layout = MVC.Shared.Views.SiteLayout.Public._PublicLayout;
    ViewBag.Title = Admin.ResetPassword;
}
<div class="register-wrapper">
    <div class="form-box-item form-popup register-structure">
        <form action="@Url.Action(MVC.Account.ConfirmationResetPassword())" method="Post" data-on-load="validateConfirmationResetPassword" class="form-popup-content">
            <h4 class="popup-title register-header">
                <i class="fa fa-unlock-alt"></i>
                <span>@Admin.ResetPassword</span>
            </h4>
            <hr class="line-separator register-hr">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <input type="hidden" id="Code" name="Code" value="@Model.Code" />
            <input type="hidden" id="UserId" name="UserId" value="@Model.UserId" />

            <div class="input-container">
                <i class="fa fa-envelope register-icon"></i>
                <label for="Email" class="rl-label register-label">@Admin.Email</label>
                <input type="text" id="Email" name="Email" class="register-input" placeholder="@Admin.ExampleEmail" />
            </div>

            <div class="input-container">
                <i class="fa fa-asterisk register-icon"></i>
                <label for="Password" class="rl-label register-label">@Admin.PassWord</label>
                <input type="Password" id="Password" name="Password" class="register-input" placeholder="@Admin.PassWord" data-val="true" data-val-required="@Admin.RequiredPassword" data-va-equalto-other="Password" data-val-length="@Admin.MessageLengthPassword" data-val-length-min="6" data-val-length-max="100" />
            </div>

            <div class="input-container">
                <i class="fa fa-asterisk register-icon"></i>
                <label for="ConfirmPassword" class="rl-label register-label">@Admin.ConfirmPassword</label>
                <input type="password" id="ConfirmPassword" class="register-input" name="ConfirmPassword" placeholder="@Admin.ConfirmPassword" data-val="true" data-val-required="@Admin.RequiredConfirmPassword" data-val-length="@Admin.MessageLengthPassword" data-val-length-min="6" data-val-length-max="100" data-val-equal-to="@Admin.WarningEqualPasswords" data-val-equalto-other="Password" />
            </div>

            <div class="input-container">
                <button type="submit" class="button mid dark register-top-btn">
                    <span>@Admin.ResetPassword</span>
                </button>
            </div>

            <div class="input-container"></div>
        </form>
    </div>
</div>