@* Generator: MvcView GeneratePrettyNames: true *@
@model IEnumerable<Advertise.Core.Models.CompanyVideo.CompanyVideoViewModel>
<div class="headline simple primary">
    <h4>
        <i class="fa fa-image"></i>
        <span>@Admin.GalleryVideos</span>
    </h4>
</div>
@if (Model == null || Model.Any() != true)
{
    <div class="comment-list updating-section">
        <p>
            <i class="fa fa-battery-empty fa-flip-horizontal"></i>
            @Admin.MessageSectionNoVideo
        </p>
        @if (ViewBag.IsMySelf)
        {
            <div class="btn-middle-wrapper">
                <a href="@Url.Action(MVC.CompanyVideo.Create())" class="btn-middle blue-btn-middle round-corners-five">
                    <i class="fa fa-plus"></i>
                    @Admin.NewGalleryVideos
                </a>
            </div>
        }
    </div>
}
else
{
    
        <div class="product-showcase detail-case">
            <div id="productlistContainer" class="landing-items-wrapper landing-items-disp">
                <div class="product-list grid">
                    <div class="landing-column-wrapper">
                        @if (ViewBag.IsMySelf)
                        {
                            @Html.Partial(MVC.CompanyVideo.Views._AddItem)
                        }
                        @Html.Partial(MVC.CompanyVideo.Views._ListMore, Model)
                    </div>
                </div>
            </div>
        </div>
    
}
<br>
<br>