@* Generator: MvcView GeneratePrettyNames: true *@
@using Advertise.Service.Services.Permissions
@model Advertise.Core.Models.CompanyVideo.CompanyVideoListViewModel
@{
    ViewBag.Title = Model.IsMine != true ? Admin.ListGalleryVideos : Admin.ListMyGalleryVideos;
    Layout = MVC.Shared.Views._ProfileLayout;
    ViewBag.PageName = Model.IsMine != true ? "companiesGalleries" : "myCompanyGalleries";
    ViewBag.HasSearchbar = true;
}
<div class="@if (Model.IsMine != true) {<text>dashboard-content</text>} else {<text>profile-content</text>}">
    <div id="search" class="list-searchbar">
        @SearchItem.Term(Model.SearchRequest.Term)
        @SearchItem.SortDirection(Model.SortDirectionList, Model.SearchRequest.SortDirection)
        @SearchItem.PageSize(Model.PageSizeList, Model.SearchRequest.PageSize)
        @SearchItem.State(Model.StateList, Model.SearchRequest.State)
        @SearchItem.GridView()
    </div>

    <div class="headline buttons primary">
        <h1>@if (Model.IsMine != true){<text>لیست ویدیو کمپانی ها</text>}else{<text>لیست ویدیو کمپانی ها</text>}</h1>
    </div>

    <div class="landing-items-wrapper">
        <div class="product-list grid">
            <div class="landing-column-wrapper">
                @if (User.IsInRole(PermissionConst.CanCompanyVideoCreate))
                {
                    @Html.Partial(MVC.CompanyVideo.Views._AddItem)
                }
                @Html.Partial(MVC.CompanyVideo.Views._ListMore, Model.CompanyVideos)
            </div>
        </div>
    </div>

    <div class="pager">
        @Html.Partial(MVC.Shared.Views._Paging, Model.SearchRequest)
    </div>
</div>