@* Generator: MvcView GeneratePrettyNames: true *@
@model Advertise.Core.Models.ReceiptPayment.ReceiptPaymentViewModel
<div>
    @Model.ReferenceCode
    @Model.IsSuccess
    @Model.Buy.ToString()
    @Model.Amount
    @Model.MobileNumber
    @Model.Email
</div>