@* Generator: MvcView GeneratePrettyNames: true *@
@model Advertise.Core.Models.CompanyAttachment.CompanyAttachmentListViewModel
@using Advertise.Service.Services.Permissions
@{
    Layout = Model.IsMine != true ? MVC.Shared.Views.SiteLayout.Panel._PanelLayout : Layout = MVC.Shared.Views.SiteLayout.Profile._ProfileLayout;
    ViewBag.PageName = Model.IsMine != true ? "companiesAttachments" : "myCompanyAttachments";
    ViewBag.HasSearchbar = true;
}
<div class="@if (Model.IsMine  != true) {<text>dashboard-content</text>} else {<text>profile-content</text>}">
    <div id="search" class="list-searchbar">
        @SearchItem.Term(Model.SearchRequest.Term)
        @SearchItem.SortDirection(Model.SortDirectionList, Model.SearchRequest.SortDirection)
        @SearchItem.PageSize(Model.PageSizeList, Model.SearchRequest.PageSize)
        @SearchItem.State(Model.StateList, Model.SearchRequest.State)
        @SearchItem.GridView()
    </div>

    <div class="headline buttons primary">
        <h1>@if (Model.IsMine != true){<text>لیست فایلهای کمپانی ها</text>}else{<text>لیست فایلهای کمپانی ها</text>}</h1>
    </div>

    <div class="landing-grids-wrapper">
        <div class="product-list grid">
            <div class="landing-column-wrapper">
                @if (User.IsInRole(PermissionConst.CanCompanyAttachmentCreate))
            {
                    @Html.Partial(MVC.CompanyAttachment.Views._AddItem)
                }
                @Html.Partial(MVC.CompanyAttachment.Views._ListMore, Model.CompanyAttachments)
            </div>
        </div>
    </div>

    <div class="pager">
        @Html.Partial(MVC.Shared.Views.SiteLayout._Paging, Model.SearchRequest)
    </div>
</div>