<div class="catalogItem round-corners-five" data-on-click="addCatalogCreate">
    <div class="catalog-add-shadow round-corners-five"></div>
    <div class="catalog-product-add round-corners-five">
        <i class="fa fa-plus-circle"></i>
        <i class="fa fa-plus"></i>
    </div>
    <div class="input-container nov-seven-col nov-col-1">
        <label class="rl-label catalog-temp-label">
            <span>@Admin.Category2</span>
        </label>
        <select disabled></select>
    </div>
    <div class="input-container nov-seven-col nov-col-2">
        <label class="rl-label catalog-temp-label">
            <span>کالا</span>
        </label>
        <select disabled></select>
    </div>
    <div class="input-container nov-seven-col nov-col-3">
        <label class="rl-label catalog-temp-label">
            <span>@Admin.Color</span>
        </label>
        <select disabled></select>
    </div>
    <div class="input-container nov-seven-col nov-col-4">
        <label class="rl-label catalog-temp-label">
            <span>@Admin.Guarantee</span>
        </label>
        <select disabled></select>
    </div>
    <div class="input-container nov-seven-col nov-col-5">
        <label class="rl-label catalog-temp-label">
            <span>@Admin.Price (@Admin.Toman)</span>
        </label>
        <input type="text" disabled />
    </div>
    <div class="input-container nov-seven-col nov-col-6">
        <label class="rl-label catalog-temp-label">
            <span>@Admin.Available</span>
        </label>
        <input type="text" disabled />
    </div>
    <div class="input-container nov-seven-col nov-col-7">
        <label class="rl-label catalog-temp-label">
            <span>@Admin.State</span>
        </label>
        <select disabled></select>
    </div>
    <div class="input-container"></div>
</div>