@* Generator: MvcView GeneratePrettyNames: true *@
@model Advertise.Core.Models.Catalog.CatalogEditViewModel
@{
    Layout = MVC.Shared.Views.SiteLayout.Panel._PanelLayout;
    ViewBag.Title = "ویرایش کاتالوگ";
}
<div class="dashboard-content">
    <div class="headline buttons primary">
        <h4>ویرایش کاتالوگ</h4>
    </div>
    <div class="form-box-item profile-form">
        <form id="editCatalog" action="" method="post" data-on-load="validateCatalog">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <input type="hidden" id="Id" name="Id" value="@Model.Id" />

            <div class="input-form">
                <div class="vertical-dashed"></div>

                <div class="msg-container">
                    <p class="msg-box regular round-corners-five"></p>
                </div>
                <div class="input-container fixed-height">
                    <label for="CategoryId" class="rl-label center-rl-label">
                        <span>@Admin.Category2:</span>
                        <a>
                            <span>موبایل</span>
                        </a>
                    </label>
                    <input type="hidden" id="CategoryId" name="CategoryId" value="b55ee720-f0bc-7dc0-e160-39e0903ebbce" />
                </div>

                <div class="msg-container">
                    <p class="msg-box regular round-corners-five"></p>
                </div>
                <div class="input-container fixed-height">
                    <label for="title" class="rl-label">
                        <span>@Admin.Title</span>
                        <i class="fa fa-question-circle tooltipster" title=@Admin.Title></i>
                    </label>
                    <input type="text" id="title" name="Title" value="@Model.Title" />
                </div>

                <div class="msg-container">
                    <p class="msg-box regular round-corners-five"></p>
                </div>
                <div class="input-container fixed-height">
                    <label class="rl-label">
                        <span>@Admin.Specification</span>
                        <i class="fa fa-question-circle tooltipster" title="@Admin.ItShowsProductSpecifications"></i>
                    </label>
                    <div id="specificationContainer22">
                        @Html.Partial(MVC.CatalogSpecification.Views._Edit, Model.Specifications)
                    </div>
                </div>

                <div class="msg-container">
                    <p class="msg-box regular round-corners-five"></p>
                </div>
                <div class="input-container fixed-height">
                    <label for="files" class="rl-label">@Admin.Preview</label>
                    @Html.Partial(MVC.Shared.Views.FineUploaderTemplates._FineUploaderTemplate)
                    <div name="files" id="files" data-on-load="uploaderCatalogImage" data-param="edit"></div>
                </div>

                <div class="msg-container">
                    <p class="msg-box regular round-corners-five"></p>
                </div>
                <div class="input-container fixed-height">
                    <label for="files2" class="rl-label">
                        <span>@Admin.Galery </span>
                        <i class="fa fa-question-circle tooltipster" title="@Admin.ItShowsImagesGallery"></i>
                    </label>
                    @Html.Partial(MVC.Shared.Views.FineUploaderTemplates._FineUploaderTemplate)
                    <div name="files2" id="files2" data-on-load="uploaderCatalogImages" data-param="edit"></div>
                </div>

                <div class="msg-container">
                    <p class="msg-box regular round-corners-five"></p>
                </div>
                <div class="input-container fixed-height">
                    <label for="description" class="rl-label">
                        <span>@Admin.Description</span>
                        <i class="fa fa-question-circle tooltipster" title="@Admin.ItDescribesProduct"></i>
                    </label>
                    <textarea type="text" id="description" name="Description" data-on-load="editorProductDescription" rows="4">@Model.Description</textarea>
                </div>

                <div class="msg-container">
                    <p class="msg-box regular round-corners-five"></p>
                </div>
                <div class="input-container fixed-height">
                    <label class="rl-label">
                        <span>@Admin.Features</span>
                        <i class="fa fa-question-circle tooltipster" title="@Admin.ItShowsProductFeatures"></i>
                    </label>
                    <div class="tree">
                        <div id="items">
                            @if (Model.Features.Any() == false)
                            {
                                <div id="item" data-index="0">
                                    <input type="hidden" name="Features.Index" value="0" />
                                    <input type="text" id="Features[0].Title" name="Features[0].Title" style="width: 85%; display: inline-block; margin-bottom: 10px;" />
                                    <button class="button primary" type="button" data-on-click="removeFeatures" data-param="0" style="width: 10%; display: inline-block; height: 40px; margin-bottom: 10px;">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            }
                            else
                            {
                                var indexFeature = 0;
                                foreach (var feature in Model.Features)
                                {
                                    <div id="item" data-index="@indexFeature">
                                        <input type="hidden" name="Features.Index" value="@indexFeature" />
                                        <input type="text" id="Features[@indexFeature].Title" name="Features[@indexFeature].Title" value="@feature.Title" style="width: 85%; display: inline-block; margin-bottom: 10px;" />
                                        <button class="button primary" type="button" data-on-click="removeFeatures" data-param="@indexFeature" style="width: 10%; display: inline-block; height: 40px; margin-bottom: 10px;">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                    indexFeature = indexFeature + 1;
                                }
                            }
                        </div>
                        <button class="button primary" type="button" data-on-click="addFeatures" style="height: 40px; margin-bottom: 10px;">
                            <span>@Admin.AddNewFeature</span>
                        </button>
                    </div>
                </div>

                <div class="msg-container">
                    <p class="msg-box regular round-corners-five"></p>
                </div>
                <div class="input-container fixed-height">
                    <label class="rl-label">
                        <span>کلمات کلیدی</span>
                        <i class="fa fa-question-circle tooltipster" title="کلمات کلیدی"></i>
                    </label>
                    <select id="ProductKeywords" name="ProductKeywords[]" data-on-load="dropboxSimple" multiple="multiple" data-tags="true">
                        @foreach (var keyword in Model.KeywordList)
                        {
                            <option value="@keyword.Value">@keyword.Text</option>
                        }
                    </select>
                </div>

                <div class="input-container"></div>
            </div>
        </form>

        <div class="form-button-container">
            <button type="submit" form="editCatalog" class="form-button right-form-btn ok-button round-corners-five disabled-btn-link" disabled="disabled" onclick="javascript: form.action = '@Url.Action(MVC.Catalog.Edit())';">
                <i class="fa fa-save"></i>
                <span>@Admin.Save</span>
            </button>
        </div>
    </div>
</div>