@* Generator: MvcView GeneratePrettyNames: true *@
@using Advertise.Service.Services.Permissions
@model Advertise.Core.Models.PlanDiscount.PlanDiscountViewModel
<div>
    @Model.Count
</div>
<div>
    @Model.Code
</div>
@if (User.IsInRole(PermissionConst.CanPlanDiscountDeleteAjax))
{
    <li>
        <a href="javascript:void(0)" data-on-click="removeConfirm" data-param="@Url.Action(MVC.PlanDiscount.DeleteAjax(Model.Id))">
            <span>@Admin.Delete</span>
            <i class="fa fa-trash"></i>
        </a>
    </li>
}
@if (User.IsInRole(PermissionConst.CanPlanDiscountEdit))
{
    <li>
        <a href="@Url.Action(MVC.PlanDiscount.Edit(Model.Id))">
            <span>@Admin.Edit</span>
            <i class="fa fa-pencil fa-flip-horizontal"></i>
        </a>
    </li>
}
