@* Generator: MvcView GeneratePrettyNames: true *@
@{
    Layout = MVC.Shared.Views.SiteLayout.Public._PublicLayout;
    ViewBag.Title = Admin.Costs;
}
<div class="section-wrap">
    <div class="section overflowable">
        <div class="headline pages-headline simple primary">
            <h1>
                <i class="fa fa-plus-circle"></i>
                 @Admin.Costs
            </h1>
        </div>
        <div class="pages-container">
            <div class="pages-cont-wrap">
                <div class="pages-conts">
                    <ul class="plans-table-wrapper">
                        <li class="plans-table-title">
                            <h3 class="column-title-row">ردیف</h3>
                            <h3 class="column-title-desc">عنوان</h3>
                            <h3 class="column-title-bronze">طرح پایه</h3>
                            <h3 class="column-title-silver">طرح اقتصادی</h3>
                            <h3 class="column-title-golden">طرح ویژه</h3>
                        </li>
                        <li class="plans-table-row row-gray">
                            <span class="column-row-number">1</span>
                            <span class="column-row-desc">ثبت کسب و کار</span>
                            <span class="column-row-bronze"><i class="fa fa-check"></i></span>
                            <span class="column-row-silver"><i class="fa fa-check"></i></span>
                            <span class="column-row-golden"><i class="fa fa-check"></i></span>
                        </li>
                        <li class="plans-table-row row-white">
                            <span class="column-row-number">2</span>
                            <span class="column-row-desc">ارائه یک آدرس اینترنتی اختصاصی با نام کسب و کار شما</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>

                        </li>
                        <li class="plans-table-row row-gray">
                            <span class="column-row-number">3</span>
                            <span class="column-row-desc">ثبت اطلاعات تماس کسب و کار</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-white">
                            <span class="column-row-number">4</span>
                            <span class="column-row-desc">ثبت اطلاعات کلی کسب و کار (تاریغ تأسیس، تعداد افراد استخدامی، دسته فعالیت کسب و کار و ...)</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-gray">
                            <span class="column-row-number">5</span>
                            <span class="column-row-desc">ثبت نشانی کسب و کار بر روی نقشه جهت جستجو و مسیریابی راحت‌تر مشتریان</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-white">
                            <span class="column-row-number">6</span>
                            <span class="column-row-desc">ثبت لوگو و عکس کاور کسب و کار</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-gray">
                            <span class="column-row-number">7</span>
                            <span class="column-row-desc">امکان ایجاد پرسش و پاسخ و ارتباط با مخاطبان</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-white">
                            <span class="column-row-number">8</span>
                            <span class="column-row-desc">امکان برقراری ارتباط خصوصی با مشتریان</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-gray">
                            <span class="column-row-number">9</span>
                            <span class="column-row-desc">امکان دنبال کردن (Follow) توسط مشتریان</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-white">
                            <span class="column-row-number">10</span>
                            <span class="column-row-desc">امکان مشاهده کسب و کارها و همکاران نزدیک شما</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-gray">
                            <span class="column-row-number">11</span>
                            <span class="column-row-desc">امکان مشاهده دقیق آمار بازدیدکنندگان صفحه کسب و کار</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-white">
                            <span class="column-row-number">12</span>
                            <span class="column-row-desc">امکان قرار دادن کالا/خدمت (تا سقف 20 عدد)</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-gray">
                            <span class="column-row-number">13</span>
                            <span class="column-row-desc">دسته‌بندی کالاها و خدمات توسط صاحبان کسب و کار</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-white">
                            <span class="column-row-number">14</span>
                            <span class="column-row-desc">امکان ثبت کامل ویژگی‌های کالا/خدمت</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-gray">
                            <span class="column-row-number">15</span>
                            <span class="column-row-desc">امکان ثبت تصاویر متفاوت جهت معرفی بهتر کالا/خدمت</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-white">
                            <span class="column-row-number">16</span>
                            <span class="column-row-desc">امکان ثبت نظرات مشتریان در مورد هر کالا/خدمت</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-gray">
                            <span class="column-row-number">17</span>
                            <span class="column-row-desc">امکان به اشتراک گذاری کالاها/خدمات در شبکه‌های اجتماعی</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-white">
                            <span class="column-row-number">18</span>
                            <span class="column-row-desc">امکان مشاهده دقیق آمار بازدیدکنندگان هر کالا/خدمت</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-gray">
                            <span class="column-row-number">19</span>
                            <span class="column-row-desc">امکان Like کردن هر کالا/خدمت توسط بازدیدکنندگان</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-white">
                            <span class="column-row-number">20</span>
                            <span class="column-row-desc">امکان قرار دادن انواع فایل (مقاله، فایل صوتی و ...)مربوط به کسب و کار</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-times"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-gray">
                            <span class="column-row-number">21</span>
                            <span class="column-row-desc">ایجاد گالری تصاویر برای کسب و کار</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-times"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-white">
                            <span class="column-row-number">22</span>
                            <span class="column-row-desc">ایجاد گالری ویدئو برای کسب و کار</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-times"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-gray">
                            <span class="column-row-number">23</span>
                            <span class="column-row-desc">امکان به اشتراک گذاری لینک شبکه‌های اجتماعی کسب و کار</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-times"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-white">
                            <span class="column-row-number">24</span>
                            <span class="column-row-desc">امکان ثبت تا سقف 50 کالا /خدمت</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-times"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-gray">
                            <span class="column-row-number">25</span>
                            <span class="column-row-desc">امکان قرار دادن برچسب تخفیف(off) بر روی هر کالا/خدمت</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-times"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-white">
                            <span class="column-row-number">26</span>
                            <span class="column-row-desc">امکان شرکت در جشنواره‌های مختلف نویناک و اخذ برچسب‌های متفاوت</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-times"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-gray">
                            <span class="column-row-number">27</span>
                            <span class="column-row-desc">آگاه‌سازی مشتریان شما با ثبت هر کالا/خدمت جدید</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-times"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-white">
                            <span class="column-row-number">28</span>
                            <span class="column-row-desc">آگاه سازی مشتریان شما از جدیدترین طرح‌ها و تخفیف‌های شما</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-times"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-check"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-gray">
                            <span class="column-row-number">29</span>
                            <span class="column-row-desc">امکان ثبت نقد و بررسی برای کسب و کار</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-times"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-times"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-white">
                            <span class="column-row-number">30</span>
                            <span class="column-row-desc">نمایش اعتبار و رسمیت کسب و کار (official) شما به بازدیدکنندگان</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-times"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-times"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-gray">
                            <span class="column-row-number">31</span>
                            <span class="column-row-desc">امکان ثبت نامحدود کالا /خدمت</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-times"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-times"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-white">
                            <span class="column-row-number">32</span>
                            <span class="column-row-desc">امکان ثبت نقد و بررسی برای هر کالا/خدمت</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-times"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-times"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-gray">
                            <span class="column-row-number">33</span>
                            <span class="column-row-desc">ارائه درگاه پرداخت و فروش آنلاین کالاها</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-times"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-times"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-white">
                            <span class="column-row-number">34</span>
                            <span class="column-row-desc">امکان مشاهده آمار دقیق فروش و تراکنش‌های مالی از گذشته تا به امروز</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-times"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-times"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li class="plans-table-row row-gray">
                            <span class="column-row-number">35</span>
                            <span class="column-row-desc">انتشار تعدادی از محصولات/خدمات کسب و کار شما در شبکه‌های اجتماعی نویناک</span>
                            <span class="column-row-bronze">
                                <i class="fa fa-times"></i>
                            </span>
                            <span class="column-row-silver">
                                <i class="fa fa-times"></i>
                            </span>
                            <span class="column-row-golden">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                    </ul>
                    <br><br><br>
                <ul class="order-plans-wrapper">
                    <li class="title-row">
                        <ul class="inner-order-plans">
                            <li>
                                <span>@Admin.ValidityDuration</span>
                            </li>
                            <li>
                                <span id="planFundamental">@Admin.PlanFundamental</span>
                            </li>
                            <li>
                                <span id="planEconomical">@Admin.PlanEconomical</span>
                            </li>
                            <li>
                                <span id="planSpecial">@Admin.PlanSpecial</span>
                            </li>
                        </ul>
                    </li>
                    <li class="bronze-row">
                        <ul class="inner-order-plans">
                            <li>
                                <span id="durationSixMonths">@Admin.MonthsSix</span>
                            </li>
                            <li>
                                <span>.......</span>
                            </li>
                            <li>
                                <div class="outer-month">
                                    <div class="inner-month">
                                        <span class="plan-pre-price">199,000 @Admin.Toman</span>
                                        <span class="plan-price">99,000 @Admin.Toman</span>
                                        <span class="plan-discount-tag">50%</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="outer-month">
                                    <div class="inner-month">
                                        <span class="plan-pre-price">299,000 @Admin.Toman</span>
                                        <span class="plan-price">149,000 @Admin.Toman</span>
                                        <span class="plan-discount-tag">50%</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="silver-row">
                        <ul class="inner-order-plans">
                            <li>
                                <span id="durationNineMonths">@Admin.MonthsNine</span>
                            </li>
                            <li>
                                <span>.......</span>
                            </li>
                            <li>
                                <span>.......</span>
                            </li>
                            <li>
                                <div class="outer-month">
                                    <div class="inner-month">
                                        <span class="plan-pre-price">399,000 @Admin.Toman</span>
                                        <span class="plan-price">199,000 @Admin.Toman</span>
                                        <span class="plan-discount-tag">50%</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="golden-row">
                        <ul class="inner-order-plans">
                            <li>
                                <span id="durationOneYear">@Admin.MonthsYear</span>
                            </li>
                            <li>
                                <div class="outer-month">
                                    <div class="inner-month">
                                        <span class="plan-pre-price">99,000 @Admin.Toman</span>
                                        <span class="plan-price">49,000 @Admin.Toman</span>
                                        <span class="plan-discount-tag">50%</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="outer-month">
                                    <div class="inner-month">
                                        <span class="plan-pre-price">349,000 @Admin.Toman</span>
                                        <span class="plan-price">179,000 @Admin.Toman</span>
                                        <span class="plan-discount-tag">50%</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="outer-month">
                                    <div class="inner-month">
                                        <span class="plan-pre-price">499,000 @Admin.Toman</span>
                                        <span class="plan-price">249,000 @Admin.Toman</span>
                                        <span class="plan-discount-tag">50%</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a class="plan-payment-button" href="@Url.Action(MVC.PlanPayment.Create())">
                    <i class="fa fa-shopping-cart fa-flip-horizontal"></i>
                    <span>@Admin.PlansPurchase</span>
                </a>
                </div>
            </div>
        </div>
    </div>
</div>