@* Generator: MvcView GeneratePrettyNames: true *@
@model Advertise.Core.Models.Complaint.ComplaintListViewModel
@{
    Layout = MVC.Shared.Views.SiteLayout.Panel._PanelLayout;
    ViewBag.Title = Admin.ListComplaints;
    ViewBag.PageName = "complaints";
    ViewBag.HasSearchbar = true;
}
<div class="@if (Model.IsMine != true) {<text>dashboard-content</text>} else {<text>profile-content</text>}">
    <div id="search" class="list-searchbar">
        @SearchItem.Term(Model.SearchRequest.Term)
        @SearchItem.SortDirection(Model.SortDirectionList, Model.SearchRequest.SortDirection)
        @SearchItem.PageSize(Model.PageSizeList, Model.SearchRequest.PageSize)
        @SearchItem.GridView()
    </div>
    
    <div class="headline buttons primary">
        <h1>@if (Model.IsMine != true) {<text>@Admin.ListComplaints</text>} else {<text>@Admin.ListComplaints</text>}</h1>
    </div>

    <div class="landing-grids-wrapper">
        <div class="product-list grid">
            <div class="landing-column-wrapper">
                @Html.Partial(MVC.Complaint.Views._ListMore, Model.Complaints)
            </div>
        </div>
    </div>

    <div class="pager">
        @Html.Partial(MVC.Shared.Views.SiteLayout._Paging, Model.SearchRequest)
    </div>
</div>