@* Generator: MvcView GeneratePrettyNames: true *@
@using Advertise.Service.Services.Permissions
@model Advertise.Core.Models.Manufacturer.ManufacturerListViewModel
@{
    Layout = MVC.Shared.Views.SiteLayout.Panel._PanelLayout;
    ViewBag.Title = "لیست برند ها";
    ViewBag.PageName = "ManufacturerList";
    ViewBag.HasSearchbar = true;
}
<div class="@if (Model.IsMine != true) {<text>dashboard-content</text>} else {<text>profile-content</text>}">
    <div id="search" class="list-searchbar">
        @SearchItem.Term(Model.SearchRequest.Term)
        @SearchItem.SortDirection(Model.SortDirectionList, Model.SearchRequest.SortDirection)
        @SearchItem.PageSize(Model.PageSizeList, Model.SearchRequest.PageSize)
        @SearchItem.GridView()
    </div>

    <div class="headline buttons primary">
        <h1>@if (Model.IsMine != true){<text>لیست برند ها</text>}else{<text>لیست برند ها</text>}</h1>
    </div>

    <div class="landing-items-wrapper">
        <div class="product-list grid">
            <div class="landing-column-wrapper">
                @if (User.IsInRole(PermissionConst.CanManufacturerCreate))
                {
                    @Html.Partial(MVC.Manufacturer.Views._AddItem)
                }
                @Html.Partial(MVC.Manufacturer.Views._ListMore, Model.Manufacturers)
            </div>
        </div>
    </div>

    <div class="pager">
        @Html.Partial(MVC.Shared.Views.SiteLayout._Paging, Model.SearchRequest)
    </div>
</div>