@* Generator: MvcView GeneratePrettyNames: true *@
@using Advertise.Core.Extensions
@using Advertise.Service.Managers.File
@using Advertise.Service.Services.Permissions
@model Advertise.Core.Models.CategoryReview.CategoryReviewViewModel
<div class="landing-items nov-item-height-021">
    <div class="product-item column landing-column">
        <div class="nov-item-header">
            <div class="action-section without-share">
                @if (User.IsInRole(PermissionConst.CanCategoryReviewEdit) || User.IsInRole(PermissionConst.CanCategoryReviewDeleteAjax))
                {
                    <div class="item-edit-wrapper">
                        <i class="fa fa-pencil-square"></i>
                        <ul class="item-edit-list">
                            @if (User.IsInRole(PermissionConst.CanCategoryReviewEdit))
                            {
                                <li>
                                    <a href="@Url.Action(MVC.CategoryReview.Edit(Model.Id))">
                                        <span>@Admin.Edit</span>
                                        <i class="fa fa-pencil fa-flip-horizontal"></i>
                                    </a>
                                </li>
                            }
                            @if (User.IsInRole(PermissionConst.CanCategoryReviewDeleteAjax))
                            {
                                <li>
                                    <a href="javascript:void(0)" data-on-click="removeConfirm" data-param="@Url.Action(MVC.CategoryReview.DeleteAjax(Model.Id))">
                                        <span>@Admin.Delete</span>
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
        <div class="nov-item-body">
            <div class="image-section">
                <div class="product-preview-actions">
                    <figure class="product-preview-image">
                        <a href="javascript:void(0)" data-on-click="openShadow" data-type="modal">
                            <div class="item-preview-image">
                                <img src="@FileConst.ReviewCategory" alt="@Admin.Category2.PlusWord(" ").PlusWord(Admin.Review)">
                            </div>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="caption-section">
                <a class="novinak-title-link" href="javascript:void(0)" data-on-click="openShadow" data-type="modal">
                    <p class="novinak-title text-header">@Model.Title</p>
                </a>
            </div>
            <div class="info-section">
                <div class="top-part">
                    <a>
                        <p class="empty-top"></p>
                    </a>
                </div>
                <div class="middle-part">
                    <p><i class="fa fa-calendar-check-o"></i> <span>@Admin.InsertDate.PlusWord(":")</span></p>
                </div>
                <div class="bottom-part">
                    <p>@Model.CreatedOn.CastToRegularDate()</p>
                </div>
            </div>
        </div>
        <div class="nov-item-footer">
            <hr class="line-separator item-footer">
            <div class="overview-section">
                <div class="image-part">
                    <figure class="user-avatar small">
                        <a @if (Model.CategoryImageFileName != null) { <text> href="@Url.Action(MVC.Category.Detail(Model.CategoryAlias))" </text>  }>
                            <div class="novinak-image">
                                <img src="@if (Model.CategoryImageFileName != null) {<text>@FileConst.ImagesWebPath.PlusWord(Model.CategoryImageFileName)</text>} else {<text>@FileConst.NoPreview</text>}" alt="@Model.CategoryTitle.PlusWord(" ").PlusWord(Admin.Category2)">
                            </div>
                        </a>
                    </figure>
                </div>
                <div class="caption-part">
                    <a href="@Url.Action(MVC.Category.Detail(Model.CategoryAlias))">
                        <p class="text-header tiny">@Model.CategoryTitle</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-shadow"></div>
    <div class="slider-shadow">
        <div class="slide-file-preview">
            <div class="inner-preview">
                <h3 class="modal-item-title">@Model.Title</h3>
                <h5 class="modal-item-content">@Model.Body</h5>
                <div class="slide-files-actions">
                    <div class="slide-action-wrapper slide-file-close" data-on-click="closeShadow">
                        <i class="fa fa-times"></i>
                        <i class="fa fa-times"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearboth"></div>
</div>