@* Generator: MvcView GeneratePrettyNames: true *@
@using Advertise.Core.Extensions
@using Advertise.Service.Managers.File
@using Advertise.Service.Services.Permissions
@model Advertise.Core.Models.Tag.TagViewModel
<div class="landing-items nov-item-height-020">
    <div class="product-item column landing-column">
        <div class="nov-item-header">
            <div class="action-section without-share">
                @if (User.IsInRole(PermissionConst.CanTagEdit) || User.IsInRole(PermissionConst.CanTagDeleteAjax))
                {
                    <div class="item-edit-wrapper">
                        <i class="fa fa-pencil-square"></i>
                        <ul class="item-edit-list">
                            @if (User.IsInRole(PermissionConst.CanTagEdit))
                            {
                                <li>
                                    <a href="@Url.Action(MVC.Tag.Edit(Model.Id))">
                                        <span>@Admin.Edit</span>
                                        <i class="fa fa-pencil fa-flip-horizontal"></i>
                                    </a>
                                </li>
                            }
                            @if (User.IsInRole(PermissionConst.CanTagDeleteAjax))
                            {
                                <li>
                                    <a href="javascript:void(0)" data-on-click="removeConfirm" data-param="@Url.Action(MVC.Tag.DeleteAjax(Model.Id))">
                                        <span>@Admin.Delete</span>
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
            <div class="rectangle-section">
                <span class="tag-@Model.Color">
                    <span>@Admin.Tag</span>
                </span>
            </div>
        </div>
        <div class="nov-item-body">
            <div class="image-section">
                <div class="product-preview-actions">
                    <figure class="product-preview-image">
                        <div class="item-preview-image">
                            <img src="@FileConst.Tag" alt="@($"{Admin.Tags} {Model.Title}")">
                        </div>
                    </figure>
                </div>
            </div>
            <div class="caption-section">
                <a class="novinak-title-link">
                    <p class="novinak-title text-header">@Model.Title</p>
                </a>
            </div>
            <div class="info-section">
                <div class="middle-part">
                    <p class="small-state">
                        <i class="fa fa-calendar-check-o"></i> 
                        <span>@Admin.InsertDate.PlusWord(":")</span>
                    </p>
                </div>
                <div class="bottom-part">
                    <p>@Model.CreatedOn.CastToRegularDate()</p>
                </div>
            </div>
        </div>
        <div class="clearboth"></div>
    </div>
</div>