@* Generator: MvcView GeneratePrettyNames: true *@
@model Advertise.Core.Models.Tag.TagEditViewModel
@{
    Layout = MVC.Shared.Views.SiteLayout.Panel._PanelLayout;
    ViewBag.Title = Admin.EditTag;
}
    <div class="dashboard-content">
    <div class="headline buttons primary">
        <h4>@Admin.EditTag</h4>
    </div>
    <div class="form-box-item profile-form">
        <form id="editTag" action="@Url.Action(MVC.Tag.Edit())" method="Post"  data-on-load="validateTag">
            @Html.AntiForgeryToken()
            <input type="hidden" id="Id" name="Id" value="@Model.Id" />

            <div class="input-form">
                <div class="vertical-dashed"></div>
                
                <div class="msg-container">
                    <p class="msg-box regular round-corners-five"></p>
                </div>
                <div class="input-container fixed-height">
                    <label for="Title" class="rl-label">@Admin.Title</label>
                    <input type="text" id="Title" name="Title" value="@Model.Title" placeholder="@Admin.Title"/>
                </div>
                
                <div class="msg-container">
                    <p class="msg-box regular round-corners-five"></p>
                </div>
                <div class="input-container fixed-height">
                    <label for="Color" class="rl-label">@Admin.Color</label>
                    <select id="Color" name="Color">
                        @foreach (var color in Model.ColorTypeList)
                        {
                            <option value="@color.Value" @if (Model.Color.ToString() == color.Value){<text> selected</text>}>@color.Text</option>
                        }
                    </select>
                </div>
                
                <div class="msg-container">
                    <p class="msg-box regular round-corners-five"></p>
                </div>
                <div class="input-container fixed-height">
                    <label for="Description" class="rl-label">@Admin.Description</label>
                    <input type="text" id="Description" name="Description" value="@Model.Description" placeholder="@Admin.Description"/>
                </div>
                
                <div class="msg-container">
                    <p class="msg-box regular round-corners-five"></p>
                </div>
                <div class="input-container fixed-height">
                    <label for="CostValue" class="rl-label">@Admin.Price <span>(@Admin.Toman)</span></label>
                    <input type="text" id="CostValue" name="CostValue" value="@Model.CostValue" placeholder="@Admin.Price"/>
                </div>
                
                <div class="msg-container">
                    <p class="msg-box regular round-corners-five"></p>
                </div>
                <div class="input-container fixed-height">
                    <label for="DurationDay" class="rl-label">@Admin.DurationOfUse</label>
                    <input type="text" id="DurationDay" name="DurationDay" value="@Model.DurationDay" placeholder="@Admin.DurationOfUse"/>
                </div>
                
                <div class="msg-container">
                    <p class="msg-box regular round-corners-five"></p>
                </div>
                <div class="input-container fixed-height">
                    <label for="file" class="rl-label">@Admin.UploadImage</label>
                    @Html.Partial(MVC.Shared.Views.FineUploaderTemplates._FineUploaderTemplate)
                    <div name="file" id="file" data-on-load="uploaderTag" data-param="edit"></div>
                </div>
                
                <div class="msg-container">
                    <p class="msg-box regular round-corners-five"></p>
                </div>
                <div clas="input-container fixed-height">
                    <label for="IsActive" class="rl-label">@Admin.Status</label>
                    <input type="checkbox" id="IsActive" name="IsActive" value="true" checked="@Model.IsActive"/>
                    <input type="hidden" name="IsActive" value="false"/>
                </div>

                <div class="input-container"></div>
            </div>
        </form>
        
        <div class="form-button-container">
            <button form="editTag" type="submit" class="form-button right-form-btn ok-button round-corners-five disabled-btn-link" disabled="disabled" >
                <i class="fa fa-save"></i>
                <span>@Admin.Save</span>
            </button>
        </div>
    </div>
</div>